@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}

.loader {
  color: #ffffff;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before,
.loader:after {
  position: absolute;
  content: "";
}

.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #0dc5c1;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}

.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #0dc5c1;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}

@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 435px;
  box-sizing: border-box;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.158);
}
@media (min-width: 1024px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 440px) {
  .container {
    max-width: 100%;
  }
}

.containers {
  max-width: 435px;
  box-sizing: border-box;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.158);
}
@media (min-width: 1024px) {
  .containers {
    max-width: 100%;
  }
}
@media (min-width: 440px) {
  .containers {
    max-width: 100%;
  }
}

.header {
  padding: 1rem 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  z-index: 1000;
}
.header__logo {
  font-family: "Shrikhand", "cursive";
  margin: 0;
  text-align: center;
}
.header__button {
  border: none;
  background-color: white;
  font-size: 20px;
}
.header__menu {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  padding: 0;
}
.header__logos {
  font-family: "Shrikhand", "cursive";
  margin: 0;
  padding-right: 29%;
}

.titles {
  padding: 2rem;
  text-align: center;
  background-color: #fafafa;
}
.titles__title {
  margin: 0;
}
.titles__subtitle {
  font-weight: 300;
  margin: 1.5rem 0;
}

.navigation {
  display: flex;
  justify-content: center;
  padding: 1.25rem 1rem;
  background-color: #f3f3f3;
  font-size: 1.2rem;
  position: relative;
}
.navigation__icon {
  margin-right: 1rem;
}
.navigation__text {
  font-weight: 700;
}

.titles__btn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: white;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9) 0%, rgba(255, 121, 218, 0.9) 100%);
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}
.titles__btn:hover {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.menuBtn {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 3rem 0;
}

.commandBtn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: white;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9) 0%, rgba(255, 121, 218, 0.9) 100%);
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}
.commandBtn:hover {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.card__btn {
  height: 2rem;
  width: 2rem;
  border: transparent 0 solid;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: black;
}
.card__btn:hover .far {
  display: none;
}
.card__btn:hover .heart {
  display: block;
}
.card__btn:hover::before {
  opacity: 1;
}
.card__btn::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
}

.tutorial {
  padding: 2rem 1rem;
}
.tutorial__title {
  margin-top: 0;
}
@media (min-width: 1024px) {
  .tutorial__title {
    position: absolute;
    left: 45%;
  }
}
.tutorial__blocks {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: compteListe;
}
@media (min-width: 1024px) {
  .tutorial__blocks {
    display: flex;
  }
}
.tutorial__block {
  padding: 1.5rem;
  margin: 1rem 0 1rem 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
}
@media (min-width: 1024px) {
  .tutorial__block {
    flex: 1;
    margin: 0;
    margin-left: 2rem;
  }
  .tutorial__block:first-child {
    margin-left: 0.75rem;
  }
}
.tutorial__block:first-child {
  margin-top: 0;
}
.tutorial__block:last-child {
  margin-bottom: 0;
}
.tutorial__block::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -0.75rem;
}
@media (min-width: 1024px) {
  .tutorial__block {
    display: flex;
    flex-wrap: wrap;
  }
}
.tutorial__icon {
  margin-right: 1rem;
  color: #7e7e7e;
}

.menu {
  padding: 2rem 1rem;
  cursor: pointer;
  animation: itemAppear 3s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
}
@media (min-width: 1024px) {
  .menu {
    margin-left: 100px;
    margin-right: 100px;
  }
}
.menu__title {
  font-weight: normal;
  margin-top: 0;
  border-bottom: 3px #99E2D0 solid;
  padding-bottom: 5px;
  width: 10%;
}
.menu__text {
  display: flex;
  flex-direction: column;
  width: 275px;
  padding: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 1024px) {
  .menu__text {
    width: 310px;
  }
}
.menu__text h4, .menu p {
  margin: 0;
}
.menu__text h4 {
  font-size: 20px;
}
.menu__blocks {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: compteListe;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .menu__blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.menu__price {
  font-weight: bold;
}
.menu__validate {
  background-color: #99E2D0;
  width: 64px;
  height: 94px;
  border-radius: 0 10px 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.menu__icons {
  height: 25px;
  width: 25px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 1s;
}
.menu__icon {
  color: #99E2D0;
}
.menu__block {
  margin: 2rem -15px 1rem -15px;
  box-shadow: 0.25rem 0.25rem 0.5rem lightgray;
  background-color: white;
  border-radius: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.menu__block:first-child {
  margin-top: 0;
}
.menu__block:last-child {
  margin-bottom: 0;
}
.menu__block:hover .menu__validate {
  margin-right: -1rem;
  display: flex;
}
.menu__block:hover .menu__icons {
  transform: rotate(0);
}
.menu .menu__validate {
  display: none;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 2rem 1rem;
}
@media (min-width: 1024px) {
  .restaurants {
    display: flex;
  }
}
@media (min-width: 1024px) {
  .restaurants__title {
    max-height: 29px;
    position: absolute;
    left: 46%;
    margin-top: 0;
  }
}

.restaurant {
  background-color: #f6f6f6;
  padding: 2rem 1rem;
  border-radius: 60px 60px 0 0;
  position: relative;
  margin-top: -50px;
}
.restaurant__title {
  display: flex;
  align-items: center;
  font-family: "Shrikhand", "cursive";
  font-size: 125%;
  justify-content: center;
}
.restaurant__title h2 {
  padding-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
}
.restaurant__btn {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: transparent 0 solid;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 80px;
}
.restaurant__img {
  height: 20rem;
  width: 100%;
  object-fit: cover;
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}
@media (min-width: 1024px) {
  .cards {
    display: flex;
  }
}

.card {
  background-color: white;
  margin: 1rem 0;
  border-radius: 1rem;
  position: relative;
}
@media (min-width: 1024px) {
  .card {
    width: 22%;
    margin: 65px 15px;
  }
}
.card__img {
  height: 12rem;
  width: 100%;
  border: transparent solid 0;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
}
.card__badge {
  background-color: #99E2D0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}
.card__footer {
  padding: 1rem;
  display: flex;
  align-items: center;
}
.card__content {
  flex: 1;
}
.card__title {
  margin: 0;
  margin-bottom: 0.25rem;
}
.card__subtitle {
  margin: 0;
}
.card__like {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: lighten;
}
.card .heart {
  display: none;
}

@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 0.0666666667s;
}

.delay-2 {
  animation-delay: 0.1333333333s;
}

.delay-3 {
  animation-delay: 0.2s;
}

.delay-4 {
  animation-delay: 0.2666666667s;
}

.delay-5 {
  animation-delay: 0.3333333333s;
}

.delay-6 {
  animation-delay: 0.4s;
}

.delay-7 {
  animation-delay: 0.4666666667s;
}

.delay-8 {
  animation-delay: 0.5333333333s;
}

.delay-9 {
  animation-delay: 0.6s;
}

.delay-10 {
  animation-delay: 0.6666666667s;
}

.delay-11 {
  animation-delay: 0.7333333333s;
}

.delay-12 {
  animation-delay: 0.8s;
}

.delay-13 {
  animation-delay: 0.8666666667s;
}

.delay-14 {
  animation-delay: 0.9333333333s;
}

.sk-fading-circle {
  margin-left: 38%;
  width: 100px;
  height: 100px;
  position: fixed;
}
@media (min-width: 1024px) {
  .sk-fading-circle {
    margin-left: 47%;
  }
}
@media (min-width: 724px) {
  .sk-fading-circle {
    margin-left: 42%;
  }
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 500px;
}

.sk-fading-circle .sk-circle:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #9356DC;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 2s ease-in-out both;
  animation: sk-circleFadeDelay 2s ease-in-out both;
}

.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
@keyframes sk-circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
@keyframes transition {
  0% {
    margin-left: -70px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
div.containers {
  opacity: 0;
  animation: transition 1s ease-in-out 2s forwards;
}

.footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
@media (min-width: 1024px) {
  .footer {
    align-items: center;
  }
}
.footer__logo {
  color: white;
  font-family: "Shrikhand", "cursive";
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__listElt {
  margin: 0.5rem 0;
}
.footer__listElt:first-child {
  margin-top: 0;
}
.footer__listElt:last-child {
  margin-bottom: 0;
}
.footer__link {
  color: white;
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

/*# sourceMappingURL=main.css.map */
