.menu
{
 padding: ( $appPadding + 1rem ) $appPadding;

 &__title
 {
  font-weight: normal;
  margin-top: 0;
  border-bottom: 3px $color-tertiary solid;
  padding-bottom: 5px;
  width: 10%;
 }

 &__text
 {
  display: flex;
  flex-direction: column;
  width: 275px;
 }

 &__text h4, p
 {
  margin: 0;
 }

 &__text h4
 {
  font-size: 20px;
 }

 &__steps
 {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: compteListe;
 }

 &__price
 {
  font-weight: bold;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
 }

 &__confirmation
 {
  background-color: $color-tertiary;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display:flex;
  align-items:center;
  justify-content:center;
  transition-duration: 0.5s;
 }

 &:hover &__confirmation
 {
  margin-right: -1rem;
 }

 &__wrapIcon
 {
  height: 1.6rem;
  width: 1.6rem;
  background-color: white;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;

 }

 &:hover &__wrapIcon
 {
  transform: rotate(0);
 }

 &__icon
 {
  color: $color-tertiary;
 }

 &__step
 {
  padding: 16px;
  margin: 2rem -15px 1rem -15px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  background-color: white;
  border-radius: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

   &:first-child
  {
   margin-top: 0;
  }

   &:last-child
  {
   margin-bottom: 0;
  }
 }
}