.tutorial
{
padding: ( $appPadding + 16px ) $appPadding;

&__title
  {
  margin-top: 0;

  @media (min-width:1024px)
  {
    position: absolute;
    left: 45%;
  }
  }

&__blocks
  {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: compteListe;
  font-weight: bold;

  @media (min-width:1024px)
  {
    display: flex;
  }
}

&__block
  {
  padding: 24px;
  margin: 16px 0 16px 12px;
  box-shadow: 4px 4px 8px lightgray;
  border-radius: 20px;
  background-color: #f6f6f6;
  display: flex;
  position: relative;

  @media (min-width:1024px)
  {
    flex: 1;
    margin: 0;
    margin-left: 32px;

    &:first-child {
      margin-left: 12px;
    }
  }

  &:first-child
{
  margin-top: 0;
}

  &:last-child
{
    margin-bottom: 0;
    background-color: #F0E4F8;
}

  &::before
{
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: $color-primary;
  height: 24px;
  width: 24px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -12px;
}
  @media (min-width:1024px)
  {
    display: flex;
    flex-wrap: wrap;
  }
}

&__icon
  {
   margin-right: 16px;
   color: #7e7e7e;
  }
.fa-store
{
  color: $color-primary;
}
}
